<table class="table table-striped table-hover">
  <tr *ngFor="let courier of couriers | async">
    <td>
      {{courier.id}}
    </td>
    <td>
      {{courier.name}}
    </td>
    <td>
      {{courier.surname}}
    </td>
    <td>
      {{courier.phone}}
    </td>
    <td>
      {{courier.age}}
    </td>

    <td>
      <button class="btn btn-default" [routerLink]="['/couriers',courier.id, 'packs']">Lista paczek kuriera</button>
    </td>

    <td>
      <button class="btn btn-default" [routerLink]="['/couriers',courier.id]">Pokaż</button>
    </td>

    <td>
      <button class="btn btn-default" [routerLink]="['/couriers',courier.id, 'edit']">Edytuj</button>
    </td>

    <td>
      <button class="btn btn-danger" (click)="remove(courier)">Usuń</button>
    </td>
  </tr>
</table>
<button class="btn btn-primary" routerLink="new">Nowy kurier</button>
